*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: sans-serif;
    cursor: default;
}

/* Basic Debug CSS FMI*/
#app{
    margin: 40px;
}
input { 
    margin-left: 10px;
}
button {
    padding: 0 10px;
}
ul {
    margin-top: 50px;
    list-style: none;
}
li {
    margin:10px 0;
    padding: 10px;
    background-color: #bfbdbd;
}
li p {
    margin: 10px 0;
    font-weight: bold;
}