*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    cursor: default;
    color: white;
    background: #192d3c; /*debug*/
}

/* App container */
#app{
    background: #192d3c;
}

/* Search Bar*/

.search-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2b3a47;
    height: 80px;
}

.logo {
    height: 100%;
    padding: 10px 20px 0;
}    


.logo img {
    height: 100%;
}

.search {
    padding: 10px 20px;
    font-family: 'Sansita Swashed', cursive;
}

.search input { 
    margin-left: 10px;
    width: 200px;
    padding-left: 10px;

}
.search button {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Sansita Swashed', cursive;
    background:#0cd977;
    border:1px solid #000000;
    color:#000000;
    text-align: center;
    transition: all 0.15s;
}

.search button:hover {
    color:#FFFFFF;
    border-color:#FFFFFF;
}


/* Basic Debug CSS FMI*/



ul {
    margin-top: 50px;
    list-style: none;
}
li {
    margin:10px 0;
    padding: 10px;
    background-color: #bfbdbd;
}
li p {
    margin: 10px 0;
    font-weight: bold;
}

.flag {
    max-width: 50px;
}

.noposter {
    max-width: 154px;
}

