<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'/>
    <!-- Vue -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js'></script>
    <!-- Css -->
    <link rel="stylesheet" href="./css/style.css">
    <title>BoolFlix</title>
</head>
<body>
    <div id="app">
        <!-- Search Bar -->
       <div class="search">
            <span>Search:</span>
            <input @keyup.enter="getResult"v-model='searchInput' type="text">
            <button @click="getResult">Find</button>
        </div> 
        <!-- List Movies -->
        <div class="movies-wrapper">
            <ul v-if="movies.length > 0" class="movie-list">
                <!-- List movies -->
                <h2>Movies:</h2>
                <li v-for="movie in movies">
                    <p>Titolo del film:</p>
                    {{movie.title}}
                    <p>Titolo originale:</p>
                    {{movie.original_title}}
                    <p>Lingua</p>
                    <span v-if="movie.original_language ==='it'">
                        <img class="it-flag"src="./img/it.png" alt="">
                    </span>
                    <span v-else-if="movie.original_language ==='en'">
                        <img class="en-flag"src="./img/en.png" alt="">
                    </span>
                    <span v-else>{{movie.original_language}}</span>
                    <p>Voto</p>
                    <!-- {{movie.vote_average}} -->
                    <i v-for="star in getVote(movie.vote_average)" class="fas fa-star"></i>
                    <i v-for="emptyStar in (5 - getVote(movie.vote_average))" class="far fa-star"></i>
                </li>
            </ul>
            <!-- Series -->
            <ul v-if="series.length > 0" class="series-list">
                <!-- List movies -->
                <h2>Tv-Series:</h2>
                <li v-for="serie in series">
                    <p>Titolo del Telefilm:</p>
                    {{serie.name}}
                    <p>Titolo originale:</p>
                    {{serie.original_name}}
                    <p>Lingua</p>
                    <span v-if="serie.original_language ==='it'">
                        <img class="it-flag" src="./img/it.png" alt="">
                    </span>
                    <span v-else-if="serie.original_language ==='en'">
                        <img class="en-flag" src="./img/en.png" alt="">
                    </span>
                    <span v-else>{{serie.original_language}}</span>
                    <p>Voto</p>
                    <!-- {{serie.vote_average}} -->
                    <i v-for="star in getVote(serie.vote_average)" class="fas fa-star"></i>
                    <i v-for="emptyStar in (5 - getVote(serie.vote_average))" class="far fa-star"></i>
                </li>
            </ul>
        </div>
    </div>
    
    
    <!-- Axios js -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js'></script>
    <!-- JS -->
    <script src="./js/main.js"></script>
</body>
</html>