<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Vue -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js'></script>
    <!-- Css -->
    <link rel="stylesheet" href="./css/style.css">
    <title>BoolFlix</title>
</head>
<body>
    <div id="app">
        <!-- Search Bar -->
       <div class="search">
            <span>Search:</span>
            <input @keyup.enter="getResult"v-model='searchInput' type="text">
            <button @click="getResult">Find</button>
        </div> 
        <!-- List Movies -->
        <div class="movies-wrapper">
            <ul class="movie-list">
                <li v-for="movie in movies">
                    <p>Titolo del film:</p>
                    {{movie.title}}
                    <p>Titolo originale:</p>
                    {{movie.original_title}}
                    <p>Lingua</p>
                    {{movie.original_language}}
                    <p>Voto</p>
                    {{movie.vote_average}}
                </li>
            </ul>
        </div>
    </div>
    
    
    <!-- Axios js -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js'></script>
    <!-- JS -->
    <script src="./js/main.js"></script>
</body>
</html>