<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Sansita+Swashed&display=swap"
        rel="stylesheet">
    <!-- Fontawesome -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'/>
    <!-- Vue -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js'></script>
    <!-- Css -->
    <link rel="stylesheet" href="./css/style.css">
    <title>BoolFlix</title>
</head>
<body>
    <div id="app">
        <!-- Search Bar -->
       <header class="search-nav">
           <div class="logo">
               <img src="./img/logo.png" alt="boolflix">
           </div>
           <div class="search">
             <span>Search:</span>
                <input @keyup.enter="getResult"v-model='searchInput' type="text" placeholder="Movie or Tv Show...">
             <button @click="getResult">Find</button>  
           </div>  
        </header> 
        <!-- List Movies -->
        <main>
            <div class="result-wrapper">
                <ul v-if="movies.length > 0" class="movie-list">
                    <!-- List movies -->
                    <h2>Movies Result</h2>
                    <div class="filter-genre">
                       <span>Select genre</span>
                        <select v-model="selectedGenreM"
                        @change="filterMovies()"> 
                            <option value="all">All</option>
                            <option v-for="genre in allGenMovies":value="genre.id">{{genre.name}}</option>  
                        </select> 
                    </div>
                    
                    <li v-for="movie in movies">
                        <img v-if="movie.poster_path" :src="getPoster(movie.poster_path)" alt="">
                        <img v-else src="./img/poster-placeholder.png" class="noposter" alt="no poster available">
                        <div v-show="movie.overview !== ''" class="plot">
                            <p>{{movie.overview}}</p>
                        </div>
                        <p>{{movie.title}}</p>
                        <p>{{movie.original_title}}</p>
                        <!-- {{movie.vote_average}} -->
                        <div class="star-vote">
                            <i v-for="star in getVote(movie.vote_average)" class="fas fa-star"></i>
                            <i v-for="emptyStar in (5 - getVote(movie.vote_average))" class="far fa-star"></i>
                        </div>
                        <img v-if="isLangFlag(movie.original_language)" :src="getFlag(movie.original_language)"
                            alt="movie.original_language" class="flag">
                        <p class="language" v-else>{{movie.original_language}}</p>
                    </li>
                </ul>
            </div>
            <div class="result-wrapper">
                <!-- Series -->
                <ul v-if="series.length > 0" class="series-list">
                    <!-- List Series -->
                    <h2>Tv-Series Result</h2>
                    <div class="filter-genre">
                        <span>Select genre</span>
                        <select 
                        v-model="selectedGenreS"
                        @change="filterSeries()">
                            <option value="all">All</option>
                            <option v-for="genre in allGenSeries" :value="genre.id">{{genre.name}}</option>
                        </select>
                    </div>
                    <li v-for="serie in series">
                        <img v-if="serie.poster_path" :src="getPoster(serie.poster_path)" alt="">
                        <img v-else src="./img/poster-placeholder.png" class="noposter" alt="no poster available">
                        <p>{{serie.name}}</p>
                        <p>{{serie.original_name}}</p>
                        <!-- {{serie.vote_average}} -->
                        <div class="star-vote">
                            <i v-for="star in getVote(serie.vote_average)" class="fas fa-star"></i>
                            <i v-for="emptyStar in (5 - getVote(serie.vote_average))" class="far fa-star"></i>
                        </div>
                        <img v-if="isLangFlag(serie.original_language)" :src="getFlag(serie.original_language)"
                            alt="serie.original_language" class="flag">
                        <p class="language" v-else>{{serie.original_language}}</p>
            
                    </li>
                </ul>
            </div>
        </main>
        
    </div>
    
    
    <!-- Axios js -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js'></script>
    <!-- JS -->
    <script src="./js/main.js"></script>
</body>
</html>